@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.header {
  background: $color-white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0.75rem;
  }

  &__logo {
    font-weight: 800;
    letter-spacing: 0.3px;
    font-size: 1.25rem;
  }

  img {
    height: 68px;
    width: 210px;
  }

  &__nav {
    display: flex;
    gap: 1rem;

    a {
      padding: 0.25rem 0.5rem;
      border-radius: 8px;
      &:focus-visible {
        @include focus-ring;
      }
      &.is-active {
        background: $color-brand;
        color: $color-white;
      }
    }
  }
}
