@use "../abstracts/variables" as *;

.header {
  background: $color-white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
  }

  &__logo img {
    height: 68px;
    width: 210px;
    flex-shrink: 0;
  }

  &__nav {
    display: flex;
    gap: 24px;
    a {
      padding: 6px 10px;
      border-radius: 8px;
      &.is-active {
        background: $color-brand;
        color: $color-white;
      }
    }
  }
}
