@use '../abstracts/variables' as *;

body {
  font-family: $font-family;
  font-size: $body-size;
  line-height: $body-line;
  color: $color-text;
  background: $color-bg;
}
h1 {
  font-size: $h1-size;
  font-weight: $h1-weight;
  line-height: 1.2;
}
h2 {
  font-size: $h2-size;
  font-weight: $h2-weight;
  line-height: 1.25;
}
